#node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

  .on{
    background-color: rgb(53, 112, 151);
  }
  .off{
    background-color: white;
  }
